body {
  font-family: 'Arial';
  color: white;
  background-color: rgb(90, 198, 235);
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around;
  padding-top: 80px;
}

h1 {
  margin: 0;
  text-shadow: 1px 1px 1px black;
}

#number {
  background-color: rgb(90, 198, 235);
  border: 0.1px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px 2px;
  width: 86px;
  height:35px;
  font-size: larger;
}

button {
  width: 90px;
  height: 40px;
  background-color:rgb(90, 198, 235);
  border: 0.1px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px 2px;
  margin-bottom: 20px;
  margin-left: 10px;
  cursor: pointer;
}

#options {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items:flex-end;
  border-radius: 4px;
  box-shadow: 4px 4px 2px black;
}

#fricking-options {
  display: flex;
  flex-direction: column;
}

#container {
  background-color: white;
  display: grid;
  grid-gap: 0px;
  width:550px;
  height: 550px;
  box-shadow: 4px 4px 2px black;
}

.block {
  background-color: white;
}